body{
  background-color:rgb(250,250, 250);
  text-align: center;
  margin-top: 3%
}

/* global chart css */

.global-card{
   margin-bottom: 1%;
   margin-top: 2%;
}
.global-card-alignment{
    display: flex !important;
    justify-content: center !important;
}
.ui.grid>.row>.column{
    margin-bottom: 1% !important;
}
.ui.card>.content, .ui.cards>.card>.content{

}